h2{
    font-family: 'DynaPuff', sans-serif;                                       
}

h3{
    font-family: 'DynaPuff', sans-serif;                                       
    font-size: 2vh;
}

.geral{
    text-align: center;
    margin-top: 40vh;
}

.botaosim{
    width: 6vh;
    height: 6vh;
    font-size: 10pt;
    border-radius: 3vh;
    font-family: 'DynaPuff', sans-serif;       
    transition: all 0.3s ease-in-out;                                
    background-color: rgb(96, 160, 96);
}

.botaosim:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.botaonao{
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
    font-family: 'DynaPuff', sans-serif;                                       
    transition: all 0.3s ease-in-out; 
    background-color: rgb(189, 42, 42);     
}

.botaonao:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.bodysim{
    background-color: rgb(188, 219, 167);
}

.polaroids{
    width: 53vh;
}

.divsim{
    margin-top: 0vh;
    max-width: 100vw;
}

.carta{
    max-width: 100%;
}
